@charset "UTF-8";
/* CSS Document */

body{
	font-weight:lighter;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	
}

.imgWrapper{
	border: 1px solid black;
	margin-bottom: 3%;
	box-shadow: 3px 3px 5px rgba(125, 125, 125, 0.6);
	background: #FFF;
	border-radius: 3px;
}


.imgWrapper img {
	width: 80%;
	padding-left: 28px;
}

h1, h2, h3, h4, h5, h6{
	text-shadow: -2px 2px 4px rgba(150, 150, 150, 0.78);

}
/*Foundation Style Overrides*/
.top-bar {
    background-color: #09F;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.top-bar-section li a:not(.button) {
    background-color: #09F;
}

.top-bar-section li a:not(.button):hover {
    background-color: #09F;
}

.top-bar-section ul li.active > a {
    background-color: #FFF;
    color: #000;
}

.top-bar-section ul li.active > a:hover {
    background-color: #FFF;
    color: #000;
}

/*Modal*/
.reveal-modal{
	border-radius:8px;
	
}