@charset "UTF-8";
/*Page Styles*/
body {
	background: linear-gradient(to bottom, rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%);
}
hr {
	background: #FFF;
}
.panel-footer p {
	font-size: .8em;
}
/*Jumbotron Styles*/
.beach {
	background: url(../img/beach.jpg) no-repeat left bottom;
	color: #FFF;
}
.beach h3 {
	margin-top: -15px;
}
/*Image Wrappers*/
.imgWrapper {
	border: 5px solid black;
	margin-bottom: 3%;
	box-shadow: 3px 3px 5px rgba(125, 125, 125, 0.6);
	background: #FFF;
}
.imgWrapper img {
	width: 80%;
	padding-left: 28px;
}
